# This is an exemplar .env file since my actual .env file is not uploaded here. This contains all the environment variables needed for the app to function

REACT_APP_SERVER_URL = {BASE_SERVER_URL}
REACT_APP_GOOGLE_CLIENT_ID = {GOOGLE_CLIENT_ID}